.container.mat-dialog-actions{
  padding-right: 15px;
  padding-left: 15px;
}
.row{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.col-6{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  max-width: 100%;
}
.mat-dialog-actions{
  margin-bottom: -15px;
}
