/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-icon {
  vertical-align: top;
  font-size: 1.25em;
}
.launcher {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
